<h1><%= @category.name %></h1>
<% if @category %>
  <ul>
    <% @category.articles.each do |article| %>
    <li><a href="/categories/<%= @category.id %>/articles/<%= article.id %>"><%= article.title %></a></li>
    <% end %>
  </ul>
<% end %>
